<div class="jumbotron">
	<h1>Very Simple Station</h1>
	<p class="lead">Very Simple Station is a hosted service that lets you create campaigns and collect leads, synchronizing the collected leads with you favorite CRM (currently only salesfoce is supported).</p>
	<p> <%= link_to 'Sign up today', new_client_registration_path, class: 'btn btn-lg btn-success' %> </p>
	<p> or <%= link_to 'Log in', new_client_session_path %> </p>
	
</div>

<p> </p>